@import "./core.scss";

:root {
	color-scheme: dark light;
}

html {
	@apply scroll-smooth;
}

html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	@apply bg-slate-900 text-white;
}
