---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

import "../styles/global.scss";

// Component Imports
import MainHead from "../components/layout/MainHead.astro";
import Nav from "../components/layout/Nav.astro";
import Footer from "../components/layout/Footer.astro";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	class?: string | undefined;
}

const { title, description, class: className } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>

	<body class="flex min-h-screen flex-col bg-slate-900 text-white">
		<Nav />

		<main class:list={["my-8 sm:my-16", className]}>
			<slot />
		</main>

		<Footer />

		<script>
			// Add “loaded” class once the document has completely loaded.
			function addLoadedClass() {
				document.documentElement.classList.add("loaded");
			}
			addEventListener("load", () => addLoadedClass);
		</script>
	</body>
</html>
